# ----------------------------
# Operating System
# ----------------------------
.DS_Store
Thumbs.db
Desktop.ini

# ----------------------------
# IDE
# ----------------------------
.idea/
.vscode/

# ----------------------------
# Gradle
# ----------------------------
.gradle/
build/
**/build/

# ----------------------------
# Kotlin
# ----------------------------
.kotlin/

# ----------------------------
# Local Android SDK path
# ----------------------------
local.properties

# ----------------------------
# Log files
# ----------------------------
*.log

# ----------------------------
# Temporary files
# ----------------------------
*.tmp
*.temp

# ----------------------------
# Android Studio captures
# ----------------------------
captures/

# ----------------------------
# Generated APK/AAB
# ----------------------------
*.apk
*.aab